{
 ; :env-keys ["property.name" "ENV_NAME"] ; default: ["c3.env" "C3_ENV"]
 :run-cmd "phantomjs resources/public/specs/speclj.js"
 :development {:cache-analysis true
               :libs           ["src/js/"]
               :optimizations  :none
               :output-dir     "resources/public/cljs/"
               :output-to      "resources/public/cljs/c3kit_scaffold_dev.js"
               :pretty-print   true
               :source-map     true
               :sources        ["spec" "src"]
               :specs          true
               :verbose        false
               :watch-fn       c3kit.scaffold.cljs/on-dev-compiled
               }
 :production  {
               :cache-analysis false
               :infer-externs  true
               :libs           ["src/js/"]
               :optimizations  :advanced
               :output-dir     "resources/public/cljs/"
               :output-to      "resources/public/cljs/c3kit_scaffold.js"
               :pretty-print   false
               ;:pretty-print   true
               ;:pseudo-names   true
               :sources        ["spec" "src"]
               :specs          false
               :verbose        false
               }
 :staging     {
               :cache-analysis false
               :infer-externs  true
               :libs           ["src/js/"]
               :optimizations  :whitespace
               :output-dir     "resources/public/cljs/"
               :output-to      "resources/public/cljs/c3kit_scaffold.js"
               :pretty-print   true
               :pseudo-names   true
               :sources        ["spec" "src"]
               :specs          false
               :verbose        false
               }
 }
