*, *:before, *:after {
  box-sizing: border-box;
}

::selection {
  background-color: #123;
  color: #456;
}

body, html {
  width: 100%;
  height: 100%;
}

html {
  font-size: 19px;
}

body {
  background-color: #fff;
  color: #555;
  font-family: 'groldroundedslim-extralight', Helvetica, sans-serif;
  letter-spacing: 0.25px;
  line-height: 1.35rem;
}