*.class
*.iml
*.jar
.DS_Store
.cpcache/
.idea
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-plugins/
.lein-repl-history
.nrepl-port
.specljs-timestamp
/checkouts
/classes
/lib
/target
hs_err_*.log
pom.xml
pom.xml.asc
