{
 :paths   ["src"]
 :deps    {
           org.clojure/clojure {:mvn/version "1.11.1"}
           }
 :aliases {
           :test {:extra-deps  {speclj/speclj {:mvn/version "3.4.1"}}
                  :extra-paths ["spec"]}
           :spec {:main-opts ["-m" "speclj.main" "-c"]}
           }
 }
