body {
    font-family: verdana, sans-serif;
}

.demo-container {
    border-top: 1px solid black;
    padding-top: 5px;
}

h2 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.hidden {
    display: none;
}

.golf-green {
    position: relative;
    width: 500px;
    height: 500px;
    background: linear-gradient(forestgreen, darkolivegreen);
    border: 1px solid darkslateblue;
    margin-right: 20px;
}

.golf-ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: orange;
    z-index: 2;
}

.dragging-ball {
    filter: drop-shadow(5px 5px 5px #00000080);
    cursor: grabbing !important;
    overflow: hidden;
    background-color: blueviolet;
}

.grab {
    cursor: grab;
}

.golf-hole {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: black;
    z-index: 1;
}

.hole-hover {
    background: radial-gradient(black, white);
}

.golf-scroller {
    width: 350px;
    height: 350px;
    overflow: scroll;
}

.list-container {
    display: flex;
    flex-direction: row;
}

.rainbow-container {
    flex-direction: column;
}

.space-container {
    flex-direction: column;
    width: 100px;
}

.team-container {
    flex-direction: column;
}

.list-scroller {
    width: 300px;
    height: 300px;
    overflow: scroll;
    border: 1px solid darkslateblue;
    padding: 0px;
}

ol {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 500px;
}

li {
    padding: 0;
    height: 50px;
    width: 300px;
    position: center;
    list-style-type: none;
    text-align: center;
    border: 1px solid lightgrey;
}

.color-name {
    text-transform: uppercase;
}

.dragging-color {
    cursor: grabbing !important;
    padding: 0;
    width: 400px;
    height: 50px;
    list-style-type: none;
    text-align: center;
    border: 1px solid lightgrey;
}
