{
 ; :env-keys ["property.name" "ENV_NAME"] ; default: ["c3.env" "C3_ENV"]
 :run-cmd "phantomjs dev/specs/speclj.js"
 :development {:cache-analysis true
               :optimizations  :none
               :output-dir     "target/cljs/"
               :output-to      "target/cljs/c3kit_bucket_dev.js"
               :pretty-print   true
               :source-map     true
               :sources        ["spec/cljc" "spec/cljs" "src/cljc" "src/cljs"]
               :specs          true
               :verbose        false
               :watch-fn       c3kit.scaffold.cljs/on-dev-compiled
               }
 :production  {
               :cache-analysis false
               :infer-externs  true
               :optimizations  :advanced
               :output-dir     "target/cljs/"
               :output-to      "target/cljs/c3kit_bucket.js"
               :pretty-print   false
               ;:pretty-print   true
               ;:pseudo-names   true
               :sources        ["src/cljc" "src/cljs"]
               :specs          false
               :verbose        false
               }
 :staging     {
               :cache-analysis false
               :infer-externs  true
               :optimizations  :whitespace
               :output-dir     "target/cljs/"
               :output-to      "target/cljs/c3kit_bucket.js"
               :pretty-print   true
               :pseudo-names   true
               :sources        ["src/cljc" "src/cljs"]
               :specs          false
               :verbose        false
               }
 }
